scrapy
chromadb
chromadb-client
sentence-transformers
ctransformers
langchain
llama-cpp-python
beautifulsoup4
charset-normalizer
click
colorama
cryptography
Deprecated
python-dotenv
et-xmlfile
filelock
Flask
frozenlist
html2text
huggingface-hub
idna
joblib==1.2.0
multidict==6.0.4
nltk==3.8
numpy==1.24.1
oauthlib==3.2.2
openpyxl==3.0.10
packaging
pandas
pdfminer.six
pycparser
pycryptodome==3.16.0
PyPDF2==3.0.1
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
six==1.16.0
slackclient
soupsieve==2.3.2.post1
tokenizers
tqdm
transformers
types-pytz==2022.7.1.0
typing_extensions
urllib3==1.26.14
wheel
wrapt==1.14.1
yarl==1.8.2
